{% extends "machina/board_base.html" %}
{% load i18n %}

{% block sub_title %}Recuperar Senha{% endblock sub_title %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card bg-dark text-white border-secondary shadow-lg">
            <div class="card-header border-secondary">
                <h3 class="my-0">Recuperar Senha</h3>
            </div>
            <div class="card-body">
                <p class="text-secondary">Esqueceu sua senha? Digite seu e-mail abaixo e enviaremos instruções para
                    criar uma nova.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label text-light">E-mail</label>
                        <input type="email" name="email" required class="form-control bg-secondary text-white border-0"
                            id="id_email">
                    </div>
                    <button type="submit" class="btn btn-outline-warning w-100">Enviar E-mail de Recuperação</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}